<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Fried Spring Rolls</th>
            <th>Gyoza</th>
            <th>Pork Belly Fries</th>
            <th>Indonesian Chicken Satay</th>
            <th>Thai Fresh Rolls</th>
            <th>Thai Chicken Satay</th>
            <th>Corn Fritters</th>
            <th>Chicken Wings</th>
            <th>Mix Mix Salad(Gado Gado)</th>
            <th>Green Papaya Salad</th>
            <th>House Salad</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>